<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    <script>
        const ROOM_ID =  "<%= roomId %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" def></script>
    
    <script src="js/script.js" defer></script>
</head>
<body>
    <h1>Jobphoning Chat vidéo, welcomeeee !!!!</h1>
    <div id="video-container">
        <video id="element-video"  autoplay></video>
        <video id="element-video-exterieur"  autoplay></video>
    </div>
    
       
   
</body>
</html>